<template>
    <div class="books-page">
        <BooksList />
    </div>
</template>

<script>
import BooksList from '@/components/BooksList.vue'

export default {
	name: 'Books',
	components: {
		BooksList
	},
	data() {
		return {
            
		}
	},
}
</script>
