<template>
	<div class="home">
		<div class="overlay"></div>
		<v-row>
			<v-col cols="12" class="slide-right mb-5">
				<p class="title-text">Find Your Books ...</p>
			</v-col>
		</v-row>
		<v-row>
			<v-col offset="2" cols="7" class="input">
				<v-text-field
					v-model="searchText"
					label="Search Books"
					solo
					@keyup.enter="onSearchText"
				>
				</v-text-field>
			</v-col>
			<v-col cols="1" class="button">
				<v-btn
					class="btn-search"
					large
					:loading="loading"
					@click="onSearchText"
				>
					<v-icon>
						mdi-book-search
					</v-icon>
				</v-btn>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationsType from '@/store/mutations_type.js'

export default {
	name: 'Home',
	data () {
		return {
			searchText: '',
			loading: false
		}
	},
	methods: {
		...mapMutations({
			vuexSetSearchText: mutationsType.SET_SEARCH_TEXT,
		}),
		onSearchText () {
			this.loading = true
			setTimeout(() => {
				this.vuexSetSearchText(this.searchText)
				this.$router.push({ path: '/books' })
				this.loading = false
			}, 2000)
			
		}
	},
}
</script>

<style lang="scss" scoped>
.home {
	background-image: url('../assets/wallpaper.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	.overlay::after {
		background-color: rgba(0, 0, 0, 0.6);
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		z-index: 1;
	}
	.slide-right {
		width: 100%;
		overflow: hidden;
		max-width: 100%;
		text-align: center;
		color: #ffffff;
		font-size: 50px !important;
		font-weight: 500;
		margin-top: 16%;
		z-index: 2;
	}

	.slide-right .title-text {
		animation: 1s slide-right 1s forwards;
		transform:translateX(-100%);
	}

	@keyframes slide-right {
		to {
			transform:translateX(0);
		}
	}

	.input {
		z-index: 2;
	}
	.button {
		z-index: 2;
		.btn-search {
			height: 48px;
		}
	}
}


</style>
