<template>
    <v-dialog
        v-model="isBooksDetailDialog"
        persistent
        width="900"
    >
        <v-card>
            <v-card-text>
                <v-row class="pt-10 pb-5">
                    <v-col cols="5">
                        <div class="books-image">
                            <v-img
                                :src="vuexGetBooksItem.image"
                                :lazy-src="vuexGetBooksItem.image"
                                class="image"
                                >
                                <template v-slot:placeholder>
                                    <v-row
                                        class="fill-height ma-0"
                                        align="center"
                                        justify="center"
                                    >
                                        <v-progress-circular
                                            indeterminate
                                            color="grey lighten-5"
                                        ></v-progress-circular>
                                    </v-row>
                                </template>
                            </v-img>
                        </div>
                    </v-col>
                    <v-col cols="7" class="books-detail">
                        <v-row class="books-title">
                            <v-col cols="10">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <div
                                            class="books-name text-truncate"
                                            v-bind="attrs"
                                            v-on="on"
                                        >{{ vuexGetBooksItem.title }}</div>
                                    </template>
                                    <span>{{ vuexGetBooksItem.title }}</span>
                                </v-tooltip>
                            </v-col>
                            <v-col cols="2">
                                <v-btn
                                    fab
                                    dark
                                    small
                                    @click="onCloseBooksDetailDialog"
                                >
                                    <v-icon dark>
                                        mdi-close
                                    </v-icon>
                                </v-btn>
                            </v-col>
                        </v-row>
                        <v-row class="books-rating">
                            <v-col
                                cols="4"
                                class="star-rating"
                                >
                                <v-rating
                                    v-model="vuexGetBooksItem.averageRating"
                                    background-color="dark"
                                    color="yellow darken-3"
                                    length="5"
                                    size="25"
                                    half-increments
                                    readonly
                                    hover
                                    dense
                                ></v-rating>
                            </v-col>
                            <v-col cols="8" class="text-rating">
                                <span v-show="vuexGetBooksItem.averageRating !== 0">
                                    {{ vuexGetBooksItem.averageRating }}/5
                                </span>
                            </v-col>
                        </v-row>
                        <v-row class="books-authors">
                            <v-col cols="12">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <div
                                            class="authors text-truncate"
                                            v-bind="attrs"
                                            v-on="on"
                                        >ผู้เขียน:
                                            <span
                                                v-for="(aItem, aIndex) in vuexGetBooksItem.authors"
                                                :key="`t-${aIndex}`">
                                                <span v-if="aIndex != 0">, </span><span>{{ aItem }}</span>	
                                            </span>
                                        </div>
                                    </template>
                                    <span
                                        v-for="(aItem, aIndex) in vuexGetBooksItem.authors"
                                        :key="`t-${aIndex}`">
                                        <span v-if="aIndex != 0">, </span><span>{{ aItem }}</span>	
                                    </span>
                                </v-tooltip>
                            </v-col>
                        </v-row>
                        <v-row class="books-publisher">
                            <v-col cols="12">
                                สำนักพิมพ์: {{ vuexGetBooksItem.publisher }}
                            </v-col>
                        </v-row>
                        <v-row class="books-published-date">
                            <v-col cols="12">
                                วันที่เผยแพร่: {{ vuexGetBooksItem.publishedDate }}
                            </v-col>
                        </v-row>
                        <v-row class="books-print-type">
                            <v-col cols="12">
                                ประเภท: {{ vuexGetBooksItem.printType }}
                            </v-col>
                        </v-row>
                        <v-row class="books-page-count">
                            <v-col cols="12">
                                จำนวนหน้า: {{ vuexGetBooksItem.pageCount }}
                            </v-col>
                        </v-row>
                        <v-row class="books-detail-title">
                            <v-col cols="12">
                                รายละเอียด:
                            </v-col>
                        </v-row>
                        <v-row class="books-detail-description">
                            <v-col cols="12">
                                <span v-if="!isAllText">
                                   {{ trimmedString }}
                                   <span
                                        v-show="trimmedString.length === 280"
                                        class="readmore-text"
                                        @click="onShowAllText">...อ่านต่อ</span>
                                </span>
                                <span v-else>
                                    {{ vuexGetBooksItem.description }} <span class="readmore-text" @click="onShowAllText">...ย่อ</span>
                                </span>
                            </v-col>
                        </v-row>
                        <v-row class="books-btn mt-5">
                            <v-col cols="2">
                                <v-btn
                                    :class="`mr-5 favorite-icon ${vuexGetBooksItem.activeClass}`"
                                    fab
                                    dark
                                    @click="onClickFavorite()"
                                >
                                    <v-icon dark>
                                        mdi-heart
                                    </v-icon>
                                </v-btn>
                            </v-col>
                            <v-col cols="5">
                                <v-btn
                                    color="primary"
                                    outlined
                                    rounded
                                    block
                                    dark
                                    x-large
                                    target="_blank"
                                    :href="vuexGetBooksItem.buyLink"
                                >
                                    <span v-if="vuexGetBooksItem.saleAbility === 'FOR_SALE'">
                                        Buy
                                    </span>
                                    <span v-else>Free</span>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
        <v-snackbar
			v-model="addToFavoriteSnackbar"
			:timeout="addToFavoriteTimeout"
            color="success"
			top
			right
		>
			Add Book to Favorite Success
            <template v-slot:action="{ attrs }">
                <v-btn
                    fab
                    text
                    x-small
                    v-bind="attrs"
                    @click="addToFavoriteSnackbar = false"
                >
                    X
                </v-btn>
            </template>
		</v-snackbar>
        <v-snackbar
			v-model="removeFormFavoriteSnackbar"
			:timeout="removeFormFavoriteTimeout"
            absolute
			top
			right
		>
			Remove Book Form Favorite Success
            <template v-slot:action="{ attrs }">
                <v-btn
                    fab
                    text
                    x-small
                    v-bind="attrs"
                    @click="removeFormFavoriteSnackbar = false"
                >
                    X
                </v-btn>
            </template>
		</v-snackbar>
    </v-dialog>
</template>

<script>
import * as gettersType from '@/store/getters_types.js'
import * as actionsType from '@/store/actions_types.js'
import { mapGetters, mapActions  } from 'vuex'

export default {
	name: 'BooksDetailDialog',
	props: {
		isBooksDetailDialog: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			trimmedString: '',
			isAllText: false,
			addToFavoriteSnackbar: false,
			addToFavoriteTimeout: 3000,
			removeFormFavoriteSnackbar: false,
			removeFormFavoriteTimeout: 3000
		}
	},
	watch: {
		'isBooksDetailDialog' (value) {
			if (value) {
				this.onCutText()
			}
		}
	},
	computed: {
		...mapGetters({
			vuexGetBooksItem: gettersType.GET_BOOKS_ITEM,
		}),
	},
	methods: {
		...mapActions({
			vuexAddBooksFavorite: actionsType.ADD_BOOKS_FAVORITE,
			vuexDeleteBooksFavorite: actionsType.DELETE_BOOKS_FAVORITE,
		}),
		onCloseBooksDetailDialog () {
			this.isAllText = false
			this.$emit('onCloseBooksDetailDialog')
		},
		async onClickFavorite () {
			if (this.vuexGetBooksItem.activeClass === '') {
				this.vuexGetBooksItem.activeClass = 'active'
				this.addToFavoriteSnackbar = true
				await this.vuexAddBooksFavorite(this.vuexGetBooksItem)
			} else {
				this.vuexGetBooksItem.activeClass = ''
				this.removeFormFavoriteSnackbar = true
				await this.vuexDeleteBooksFavorite(this.vuexGetBooksItem)
			}
			this.$emit('onFetchBooksFavorite')
		},
		onCutText () {
			this.trimmedString = this.vuexGetBooksItem.description.substring(0, 280)
		},
		onShowAllText () {
			this.isAllText = !this.isAllText
		}
	},
}
</script>

<style lang="scss" scoped>
.books-image {
    border-radius: 5px;
    width: 300px;
    height: 380px;
    .image {
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
}
.books-detail {
    .books-title {
        .col {
            padding-bottom: unset;
        }
        .books-name {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .books-authors,
    .books-publisher,
    .books-published-date,
    .books-print-type,
    .books-page-count,
    .books-detail-title,
    .books-detail-description {
        font-size: 14px;
        font-weight: 400;
        .col {
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .readmore-text {
            cursor: pointer;
            color: #2196F3;
            font-weight: 500;
        }
    }
    .books-rating {
        .col {
            padding-top: 2px;
        }
        .star-rating {
            padding-left: 7px;
            padding-right: unset;
        }
        .text-rating {
            font-size: 18px;
            font-weight: 500;
            padding-left: unset;
            display: flex;
            align-items: center;
        }
    }
    .books-btn {
        .favorite-icon {
            &.active {
                color: #EC407A;
            }
        }
    }
}
</style>