<template>
    <div class="books-favorite">
        <v-row>
            <v-col cols="3" class="advance-search-bar">
                <div class="advance-container">
                    <v-row>
                        <v-col cols="12" class="advance-title mb-3 mt-3">
                            <v-icon dark class="mr-1">mdi-sort</v-icon> Sorting
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            Rating
                        </v-col>
                    </v-row>
                    <v-row class="rating-range">
                        <v-col cols="12">
                            <v-select
                                v-model="ratingRange"
                                label="Rating Sort"
                                item-text="text"
                                item-value="value"
                                solo
                                :items="ratingList"
                                :menu-props="{ overflowY: true, bottom: true, nudgeBottom: 50 }"
                                @change="onSortingBooks('RATING')"
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" class="mt-4">
                            Price
                        </v-col>
                    </v-row>
                    <v-row class="price-range">
                        <v-col cols="12">
                            <v-select
                                v-model="priceRange"
                                label="Price Sort"
                                item-text="text"
                                item-value="value"
                                solo
                                :items="priceList"
                                :menu-props="{ overflowY: true, bottom: true, nudgeBottom: 50 }"
                                @change="onSortingBooks('PRICE')"
                            ></v-select>
                        </v-col>
                    </v-row>
                </div>
            </v-col>
            <v-col cols="7" class="mb-15">
                <v-row>
                    <v-col cols="12" class="mt-10 title">
                        <span>My Favorite Books</span>
                    </v-col>
                </v-row>
                <v-row v-if="vuexGetBooksFavorite.length === 0">
                    <v-col cols="12" class="no-data">
                        No data available !
                    </v-col>
                </v-row>
                <v-row v-else class="books-grid mt-15">
                    <v-col
                        v-for="(bItem, bIndex) in vuexGetBooksFavorite"
                        :key="`bItem-${bIndex}`"
                        cols="3">
                        <v-row>
                            <v-col cols="12">
                                <div class="books-item">
                                    <v-img
                                        :src="bItem.image"
                                        :lazy-src="bItem.image"
                                        class="books-img"
                                        >
                                        <template v-slot:placeholder>
                                            <v-row
                                                class="fill-height ma-0"
                                                align="center"
                                                justify="center"
                                            >
                                                <v-progress-circular
                                                    indeterminate
                                                    color="grey lighten-5"
                                                ></v-progress-circular>
                                            </v-row>
                                        </template>
                                    </v-img>
                                    <v-btn
                                        class="info-icon"
                                        fab
                                        dark
                                        x-small
                                        @click="showBooksDetail(bItem)"
                                        >
                                        <v-icon dark>
                                            mdi-information-outline
                                        </v-icon>
                                    </v-btn>
                                    <v-btn
                                        :class="`favorite-icon ${bItem.activeClass}`"
                                        fab
                                        dark
                                        x-small
                                        @click="onClickFavorite(bItem, bIndex)"
                                        >
                                        <v-icon dark>
                                            mdi-heart
                                        </v-icon>
                                    </v-btn>
                                </div>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="books-detail py-0 pl-5">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <div
                                            class="books-name text-truncate"
                                            v-bind="attrs"
                                            v-on="on"
                                        >{{ bItem.title }}</div>
                                    </template>
                                    <span>{{ bItem.title }}</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <div
                                            class="books-authors text-truncate"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            <span
                                                v-for="(aItem, aIndex) in bItem.authors"
                                                :key="`t-${aIndex}`">
                                                <span v-if="aIndex != 0">, </span><span>{{ aItem }}</span>	
                                            </span>
                                        </div>
                                    </template>
                                    <span
                                        v-for="(aItem, aIndex) in bItem.authors"
                                        :key="`t-${aIndex}`">
                                        <span v-if="aIndex != 0">, </span><span>{{ aItem }}</span>	
                                    </span>
                                </v-tooltip>
                                <div class="books-print-type">{{ bItem.printType }}</div>
                                <div class="books-rating my-2">
                                    <v-row>
                                        <v-col
                                            cols="7"
                                            class="star-rating"
                                            >
                                            <v-rating
                                                v-model="bItem.averageRating"
                                                background-color="dark"
                                                color="yellow darken-3"
                                                length="5"
                                                size="19"
                                                half-increments
                                                readonly
                                                hover
                                                dense
                                            ></v-rating>
                                        </v-col>
                                        <v-col cols="5" class="text-rating">
                                            <span v-show="bItem.averageRating !== 0">
                                                {{ bItem.averageRating }}/5
                                            </span>
                                        </v-col>
                                    </v-row>
                                </div>
                                <div v-if="bItem.saleAbility === 'FOR_SALE'" class="books-price">
                                    <span class="list-price mr-2 text-decoration-line-through">{{ bItem.listPrice }}</span>
                                    <span class="retail-price">{{ bItem.retailPrice }}</span> บาท
                                </div>
                                <div v-else>-</div>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col offset="2" cols="8">
                                <v-btn
                                    class="btn-buy"
                                    color="primary"
                                    outlined
                                    rounded
                                    block
                                    small
                                    target="_blank"
                                    :href="bItem.buyLink"
                                >
                                    <span v-if="bItem.saleAbility === 'FOR_SALE'">Buy</span>
                                    <span v-else>Free</span>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-snackbar
			v-model="addToFavoriteSnackbar"
			:timeout="addToFavoriteTimeout"
            color="success"
			top
			right
		>
			Add Book to Favorite Success
            <template v-slot:action="{ attrs }">
                <v-btn
                    fab
                    text
                    x-small
                    v-bind="attrs"
                    @click="addToFavoriteSnackbar = false"
                >
                    X
                </v-btn>
            </template>
		</v-snackbar>
        <v-snackbar
			v-model="removeFormFavoriteSnackbar"
			:timeout="removeFormFavoriteTimeout"
            absolute
			top
			right
		>
			Remove Book Form Favorite Success
            <template v-slot:action="{ attrs }">
                <v-btn
                    fab
                    text
                    x-small
                    v-bind="attrs"
                    @click="removeFormFavoriteSnackbar = false"
                >
                    X
                </v-btn>
            </template>
		</v-snackbar>
        <BooksDetailDialog
            :isBooksDetailDialog="isBooksDetailDialog"
            @onCloseBooksDetailDialog="onCloseBooksDetailDialog"
            @onFetchBooksFavorite="onGetBooksFavorite"
        />
    </div>
</template>

<script>
import * as mutationsType from '@/store/mutations_type.js'
import * as gettersType from '@/store/getters_types.js'
import * as actionsType from '@/store/actions_types.js'
import { mapMutations, mapGetters, mapActions  } from 'vuex'
import BooksDetailDialog from '@/components/BooksDetailDialog.vue'

export default {
	name: 'BooksFavorite',
	components: {
		BooksDetailDialog
	},
	data() {
		return {
			ratingRange: '',
			ratingList: [
				{ id: 1, text: 'Lowest to Highest', value: 'lowToHigh' },
				{ id: 2, text: 'Highest to Lowest', value: 'hightToLow' },
			],
			priceRange: '',
			priceList: [
				{ id: 1, text: 'Lowest to Highest', value: 'lowToHigh' },
				{ id: 2, text: 'Highest to Lowest', value: 'hightToLow' },
			],
			isBooksDetailDialog: false,
			addToFavoriteSnackbar: false,
			addToFavoriteTimeout: 3000,
			removeFormFavoriteSnackbar: false,
			removeFormFavoriteTimeout: 3000
		}
	},
	created() {
		this.onGetBooksFavorite()
	},
	computed: {
		...mapGetters({
			vuexGetBooksFavorite: gettersType.GET_BOOKS_FAVORITE,
		}),
	},
	methods: {
		...mapMutations({
			vuexSetBooksItem: mutationsType.SET_BOOKS_ITEM,
			vuexSetBooksFavorite: mutationsType.SET_BOOKS_FAVORITE,
		}),
		...mapActions({
			vuexFetchBooksFavorite: actionsType.FETCH_BOOKS_FAVORITE,
			vuexAddBooksFavorite: actionsType.ADD_BOOKS_FAVORITE,
			vuexDeleteBooksFavorite: actionsType.DELETE_BOOKS_FAVORITE,
		}),
		onGetBooksFavorite () {
			this.vuexFetchBooksFavorite()
		},
		showBooksDetail (item) {
			this.vuexSetBooksItem(item)
			this.isBooksDetailDialog = true
		},
		async onClickFavorite (item, index) {
			this.vuexGetBooksFavorite[index].activeClass = ''
			this.removeFormFavoriteSnackbar = true
			await this.vuexDeleteBooksFavorite(item)
			this.onGetBooksFavorite()
		},
		onSortingBooks (value) {
			if (value === 'RATING') {
				if (this.ratingRange === 'lowToHigh') {
					const sortingNewData = this.vuexGetBooksFavorite.sort((a, b) => parseFloat(a.averageRating) - parseFloat(b.averageRating))
					this.vuexSetBooksFavorite(sortingNewData)
				} else {
					const sortingNewData = this.vuexGetBooksFavorite.sort((a, b) => parseFloat(b.averageRating) - parseFloat(a.averageRating))
					this.vuexSetBooksFavorite(sortingNewData)
				}
			} else {
				if (this.priceRange === 'lowToHigh') {
					const sortingNewData = this.vuexGetBooksFavorite.sort((a, b) => parseFloat(a.retailPrice) - parseFloat(b.retailPrice))
					this.vuexSetBooksFavorite(sortingNewData)
				} else {
					const sortingNewData = this.vuexGetBooksFavorite.sort((a, b) => parseFloat(b.retailPrice) - parseFloat(a.retailPrice))
					this.vuexSetBooksFavorite(sortingNewData)
				}
			}
		},
		onCloseBooksDetailDialog () {
			this.isBooksDetailDialog = false
			this.vuexSetBooksItem({})
		},
	},
}
</script>

<style lang="scss" scoped>
.books-favorite {
    .advance-search-bar {
        margin-top: 120px;
        .advance-container {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: #1E88E5;
            padding: 20px;
            width: 300px;
            height: 270px;
            position: fixed;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
            color: #ffffff;
            .col {
                padding-top: 2px;
                padding-bottom: 2px;
            }
            .advance-title {
                font-size: 18px;
                font-weight: 500;
            }
            .rating-range {
                .col {
                    height: 45px;
                }
            }
            .price-range {
                .col {
                    height: 45px;
                }
            }
            .radio-language {
                height: 45px;
                margin-top: unset !important;
                background-color: #ffffff;
                border-radius: 10px;
                padding: 10px;
            }
            .radio-filter {
                height: 170px;
                margin-top: unset !important;
                background-color: #ffffff;
                border-radius: 10px;
                padding: 10px;
            }
            .radio-print-type {
                height: 110px;
                margin-top: unset !important;
                background-color: #ffffff;
                border-radius: 10px;
                padding: 10px;
            }
        }
    }
    .title {
        height: 30px;
        font-size: 35px !important;
    }
    .no-data {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        font-size: 20px;
        font-weight: 700;
    }
    .books-grid {
        .books-item {
            border: 1px solid #000000;
            border-radius: 5px;
            height: 300px;
            padding: 5px;
            position: relative;
            .books-img {
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
            .info-icon {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .favorite-icon {
                position: absolute;
                top: 50px;
                right: 10px;
                &.active {
                    color: #EC407A;
                }
            }
        }
        .books-detail {
            .books-name {
                font-weight: 600;
            }
            .books-authors, .books-print-type {
                font-size: 14px;
                font-weight: 300;
            }
            .books-rating {
                .star-rating {
                    padding-left: 7px;
                    padding-right: unset;
                }
                .text-rating {
                    padding-top: 13px;
                    padding-left: unset;
                }
            }
            .books-price {
                .list-price {
                    color: red;
                    font-size: 12px;
                    font-weight: 400;
                }
                .retail-price {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        .btn-buy {
            height: 30px;
        }
    }
}
</style>