<template>
    <div class="books-list">
        <v-row class="mt-5">
            <v-col cols="3" class="advance-search-bar">
                <div class="advance-container">
                    <v-row>
                        <v-col cols="12" class="title mb-3">
                            <v-icon dark class="">mdi-filter-outline</v-icon> Advance Filter
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            Rating
                        </v-col>
                    </v-row>
                    <v-row class="rating-range">
                        <v-col cols="5">
                            <v-text-field
                                v-model="ratingMin"
                                solo
                                dense
                            >
                            </v-text-field>
                        </v-col>
                        <v-col cols="2" class="pt-2">
                            <v-icon color="white">mdi-ray-start-arrow</v-icon>
                        </v-col>
                        <v-col cols="5">
                            <v-text-field
                                v-model="ratingMax"
                                solo
                                dense
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            Price
                        </v-col>
                    </v-row>
                    <v-row class="price-range">
                        <v-col cols="5">
                            <v-text-field
                                v-model="priceMin"
                                solo
                                dense
                            >
                            </v-text-field>
                        </v-col>
                        <v-col cols="2" class="pt-2">
                            <v-icon color="white">mdi-ray-start-arrow</v-icon>
                        </v-col>
                        <v-col cols="5">
                            <v-text-field
                                v-model="priceMax"
                                solo
                                dense
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            Language
                            <v-radio-group
                                v-model="language.languageText"
                                class="radio-language"
                                row
                            >
                                <v-radio
                                    v-for="(lItem, lIndex) in language.languageList"
                                    :key="`lItem-${lIndex}`"
                                    color="primary"
                                    :label="lItem.label"
                                    :value="lItem.value"
                                ></v-radio>
                            </v-radio-group>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            Filter
                            <v-radio-group
                                v-model="filter.filterText"
                                class="radio-filter"
                            >
                                <v-radio
                                    v-for="(fItem, fIndex) in filter.filterList"
                                    :key="`fItem-${fIndex}`"
                                    color="primary"
                                    :label="fItem.label"
                                    :value="fItem.value"
                                ></v-radio>
                            </v-radio-group>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            Print Type
                            <v-radio-group
                                v-model="printType.printTypeText"
                                class="radio-print-type"
                            >
                                <v-radio
                                    v-for="(pItem, pIndex) in printType.printTypeList"
                                    :key="`pItem-${pIndex}`"
                                    color="primary"
                                    :label="pItem.label"
                                    :value="pItem.value"
                                ></v-radio>
                            </v-radio-group>
                        </v-col>
                    </v-row>
                </div>
            </v-col>
            <v-col cols="7">
                <v-row class="search-bar">
                    <v-col cols="4">
                        <v-text-field
                            v-model="searchText"
                            label="Search Books"
                            outlined
                            @keyup.enter="onSearchBooks"
                            prepend-inner-icon="mdi-magnify"
                        >
                        </v-text-field>
                    </v-col>
                    <v-col cols="1">
                        <v-btn
                            class="btn-search"
                            color="primary"
                            :loading="loading"
                            @click="onSearchBooks"
                        >
                            <v-icon class="btn-search-icon">
                                mdi-book-search
                            </v-icon>
                        </v-btn>
                    </v-col>

                    <v-spacer></v-spacer>

                    <v-col cols="3">
                        <v-select
                            v-model="orderBy.orderByText"
                            label="Sorting"
                            item-text="text"
                            item-value="value"
                            outlined
                            :items="orderBy.orderByList"
                            :menu-props="{ overflowY: true, bottom: true, nudgeBottom: 60 }"
                            @change="onSearchBooks"
                            ></v-select>
                    </v-col>
                </v-row>
                <v-row v-if="loading">
                    <v-col cols="12" class="loading">
                        <v-progress-circular
                            :size="70"
                            :width="7"
                            color="primary"
                            indeterminate
                        ></v-progress-circular>
                    </v-col>
                </v-row>
                <v-row v-else-if="booksList.length === 0">
                    <v-col cols="12" class="no-data">
                        No data available !
                    </v-col>
                </v-row>
                <v-row v-else class="books-grid mt-15">
                    <v-col
                        v-for="(bItem, bIndex) in booksList"
                        :key="`bItem-${bIndex}`"
                        cols="3">
                        <v-row>
                            <v-col cols="12">
                                <div class="books-item">
                                    <v-img
                                        :src="bItem.image"
                                        :lazy-src="bItem.image"
                                        class="books-img"
                                        >
                                        <template v-slot:placeholder>
                                            <v-row
                                                class="fill-height ma-0"
                                                align="center"
                                                justify="center"
                                            >
                                                <v-progress-circular
                                                    indeterminate
                                                    color="grey lighten-5"
                                                ></v-progress-circular>
                                            </v-row>
                                        </template>
                                    </v-img>
                                    <v-btn
                                        class="info-icon"
                                        fab
                                        dark
                                        x-small
                                        @click="showBooksDetail(bItem)"
                                        >
                                        <v-icon dark>
                                            mdi-information-outline
                                        </v-icon>
                                    </v-btn>
                                    <v-btn
                                        :class="`favorite-icon ${bItem.activeClass}`"
                                        fab
                                        dark
                                        x-small
                                        @click="onClickFavorite(bItem, bIndex)"
                                        >
                                        <v-icon dark>
                                            mdi-heart
                                        </v-icon>
                                    </v-btn>
                                </div>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="books-detail py-0 pl-5">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <div
                                            class="books-name text-truncate"
                                            v-bind="attrs"
                                            v-on="on"
                                        >{{ bItem.title }}</div>
                                    </template>
                                    <span>{{ bItem.title }}</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <div
                                            class="books-authors text-truncate"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            <span
                                                v-for="(aItem, aIndex) in bItem.authors"
                                                :key="`t-${aIndex}`">
                                                <span v-if="aIndex != 0">, </span><span>{{ aItem }}</span>	
                                            </span>
                                        </div>
                                    </template>
                                    <span
                                        v-for="(aItem, aIndex) in bItem.authors"
                                        :key="`t-${aIndex}`">
                                        <span v-if="aIndex != 0">, </span><span>{{ aItem }}</span>	
                                    </span>
                                </v-tooltip>
                                <div class="books-print-type">{{ bItem.printType }}</div>
                                <div class="books-rating my-2">
                                    <v-row>
                                        <v-col
                                            cols="7"
                                            class="star-rating"
                                            >
                                            <v-rating
                                                v-model="bItem.averageRating"
                                                background-color="dark"
                                                color="yellow darken-3"
                                                length="5"
                                                size="19"
                                                half-increments
                                                readonly
                                                hover
                                                dense
                                            ></v-rating>
                                        </v-col>
                                        <v-col cols="5" class="text-rating">
                                            <span v-show="bItem.averageRating !== 0">
                                                {{ bItem.averageRating }}/5
                                            </span>
                                        </v-col>
                                    </v-row>
                                </div>
                                <div v-if="bItem.saleAbility === 'FOR_SALE'" class="books-price">
                                    <span class="list-price mr-2 text-decoration-line-through">{{ bItem.listPrice }}</span>
                                    <span class="retail-price">{{ bItem.retailPrice }}</span> บาท
                                </div>
                                <div v-else>-</div>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col offset="2" cols="8">
                                <v-btn
                                    class="btn-buy"
                                    color="primary"
                                    outlined
                                    rounded
                                    block
                                    small
                                    target="_blank"
                                    :href="bItem.buyLink"
                                >
                                    <span v-if="bItem.saleAbility === 'FOR_SALE'">Buy</span>
                                    <span v-else>Free</span>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row v-show="booksList.length > 0" class="mb-15 mt-5">
                    <v-col cols="12">
                        <v-pagination
                            v-model="pagination.page"
                            class="my-4"
                            :length="pagination.allPage"
                            :total-visible="10"
                            prev-icon="mdi-menu-left"
                            next-icon="mdi-menu-right"
                            @input="onChangePage"
                        ></v-pagination>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-snackbar
			v-model="addToFavoriteSnackbar"
			:timeout="addToFavoriteTimeout"
            color="success"
			top
			right
		>
			Add Book to Favorite Success
            <template v-slot:action="{ attrs }">
                <v-btn
                    fab
                    text
                    x-small
                    v-bind="attrs"
                    @click="addToFavoriteSnackbar = false"
                >
                    X
                </v-btn>
            </template>
		</v-snackbar>
        <v-snackbar
			v-model="removeFormFavoriteSnackbar"
			:timeout="removeFormFavoriteTimeout"
            absolute
			top
			right
		>
			Remove Book Form Favorite Success
            <template v-slot:action="{ attrs }">
                <v-btn
                    fab
                    text
                    x-small
                    v-bind="attrs"
                    @click="removeFormFavoriteSnackbar = false"
                >
                    X
                </v-btn>
            </template>
		</v-snackbar>
        <v-snackbar
			v-model="vuexGetErrorSnackbar"
			:timeout="errorTimeout"
            color="red darken-2"
            absolute
			top
			right
		>
			{{ vuexGetErrorMessage }}
            <template v-slot:action="{ attrs }">
                <v-btn
                    fab
                    text
                    x-small
                    v-bind="attrs"
                    @click="vuexGetErrorSnackbar = false"
                >
                    X
                </v-btn>
            </template>
		</v-snackbar>
        
        <BooksDetailDialog
            :isBooksDetailDialog="isBooksDetailDialog"
            @onCloseBooksDetailDialog="onCloseBooksDetailDialog"
        />
    </div>
</template>

<script>
import axios from 'axios'
import * as mutationsType from '@/store/mutations_type.js'
import * as gettersType from '@/store/getters_types.js'
import * as actionsType from '@/store/actions_types.js'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import BooksDetailDialog from '@/components/BooksDetailDialog.vue'

export default {
	name: 'BooksList',
	components: {
		BooksDetailDialog
	},
	data () {
		return {
			apiKey: 'AIzaSyCKGaEKD2nxmw6K3B_TD1FnhKIAIZeaOH8',
			searchText: '',
			loading: false,
			orderBy: {
				orderByText: 'relevance',
				orderByList: [
					{ id: 1, text: 'Relevance', value: 'relevance' },
					{ id: 2, text: 'Newest', value: 'newest' },
				]
			},
			ratingMin: 0,
			ratingMax: 5,
			priceMin: 0,
			priceMax: 1000000,
			language:{
				languageText: '',
				languageList: [
					{ id: 1, label: 'All', value: '' },
					{ id: 2, label: 'EN', value: 'en' },
					{ id: 3, label: 'TH', value: 'th' },
				]
			},
			filter: {
				filterText: 'partial',
				filterList: [
					{ id: 1, label: 'Partial', value: 'partial' },
					{ id: 2, label: 'Full', value: 'full' },
					{ id: 3, label: 'Free-ebooks', value: 'free-ebooks' },
					{ id: 4, label: 'Paid-ebooks', value: 'paid-ebooks' },
					{ id: 5, label: 'Ebooks', value: 'ebooks' }
				]
			},
			printType:{
				printTypeText: 'all',
				printTypeList: [
					{ id: 1, label: 'All', value: 'all' },
					{ id: 2, label: 'Books', value: 'books' },
					{ id: 3, label: 'Magazines', value: 'magazines' },
				]
			},
			booksList: [],
			isBooksDetailDialog: false,
			pagination: {
				page: 1,
				allPage: 15,
				limit: 20,
				offset: 0
			},
			booksFavorite: [],
			addToFavoriteSnackbar: false,
			addToFavoriteTimeout: 3000,
			removeFormFavoriteSnackbar: false,
			removeFormFavoriteTimeout: 3000,
			errorTimeout: 3000,
		}
	},
	computed: {
		...mapGetters({
			vuexGetSearchText: gettersType.GET_SEARCH_TEXT,
			vuexGetBooksFavorite: gettersType.GET_BOOKS_FAVORITE,
			vuexGetErrorSnackbar: gettersType.GET_ERROR_SNACKBAR,
			vuexGetErrorMessage: gettersType.GET_ERROR_MESSAGE,
		}),
	},
	created() {
		this.searchText = this.vuexGetSearchText
		this.onSearchBooks()
	},
	methods: {
		...mapMutations({
			vuexSetSearchText: mutationsType.SET_SEARCH_TEXT,
			vuexSetBooksItem: mutationsType.SET_BOOKS_ITEM,
			vuexSetErrorSnackbar: mutationsType.SET_ERROR_SNACKBAR,
			vuexSetErrorMessage: mutationsType.SET_ERROR_MESSAGE,
		}),
		...mapActions({
			vuexFetchBooksFavorite: actionsType.FETCH_BOOKS_FAVORITE,
			vuexAddBooksFavorite: actionsType.ADD_BOOKS_FAVORITE,
			vuexDeleteBooksFavorite: actionsType.DELETE_BOOKS_FAVORITE,
		}),
		async onSearchBooks () {
			this.loading = true
			this.booksList = []
			this.vuexSetSearchText(this.searchText)
			try {
				const params = {
					maxResults: this.pagination.limit,
					startIndex: this.pagination.offset,
					filter: this.filter.filterText,
					orderBy: this.orderBy.orderByText,
					langRestrict: this.language.languageText,
					printType: this.printType.printTypeText,
					key: this.apiKey
				}
				const res = await axios.get(`https://www.googleapis.com/books/v1/volumes?q=${this.vuexGetSearchText}+intitle`, { params })
				if (res.data.items) {
					await this.vuexFetchBooksFavorite()
					const mapNewData = res.data.items.map(e => {
						const favoriteActive =  this.vuexGetBooksFavorite.some(f => f.booksId === e.id)
						return {
							booksId: e.id,
							image: e.volumeInfo.imageLinks ? e.volumeInfo.imageLinks.thumbnail : require('@/assets/no-image.png'),
							title: e.volumeInfo.title,
							authors: e.volumeInfo.authors ? e.volumeInfo.authors : '-',
							printType: e.volumeInfo.printType,
							averageRating: e.volumeInfo.averageRating ? e.volumeInfo.averageRating : 0,
							saleAbility: e.saleInfo.saleability,
							listPrice: e.saleInfo.listPrice ? e.saleInfo.listPrice.amount : 0,
							retailPrice: e.saleInfo.retailPrice ? e.saleInfo.retailPrice.amount : 0,
							buyLink: e.saleInfo.buyLink ? e.saleInfo.buyLink : e.volumeInfo.previewLink,
							publisher: e.volumeInfo.publisher,
							publishedDate: e.volumeInfo.publishedDate,
							pageCount: e.volumeInfo.pageCount,
							description: e.volumeInfo.description ? e.volumeInfo.description : e.volumeInfo.subtitle ? e.volumeInfo.subtitle : '-',
							activeClass: favoriteActive ? 'active' : ''
						}
					})
					this.booksList = mapNewData.filter(e => (e.retailPrice >= this.priceMin && e.retailPrice <= this.priceMax) && (e.averageRating >= this.ratingMin && e.averageRating <= this.ratingMax))
					this.loading = false
				} else {
					this.loading = false
				}
			} catch (error) {
				this.vuexSetErrorSnackbar(true)
				this.vuexSetErrorMessage(error)
			}
		},
		onChangePage () {
			this.pagination.offset = (this.pagination.page * this.pagination.limit) - this.pagination.limit
			this.onSearchBooks()
		},
		showBooksDetail (item) {
			this.vuexSetBooksItem(item)
			this.isBooksDetailDialog = true
		},
		async onClickFavorite (item, index) {
			if (this.booksList[index].activeClass === '') {
				this.booksList[index].activeClass = 'active'
				this.addToFavoriteSnackbar = true
				await this.vuexAddBooksFavorite(item)
			} else {
				this.booksList[index].activeClass = ''
				this.removeFormFavoriteSnackbar = true
				await this.vuexDeleteBooksFavorite(item)
			}
		},
		onCloseBooksDetailDialog () {
			this.isBooksDetailDialog = false
			this.vuexSetBooksItem({})
		},
	},
}
</script>

<style lang="scss" scoped>
.books-list {
    .advance-search-bar {
        .advance-container {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: #1E88E5;
            padding: 20px;
            width: 300px;
            height: 640px;
            position: fixed;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
            color: #ffffff;
            .col {
                padding-top: 2px;
                padding-bottom: 2px;
            }
            .title {
                font-size: 18px;
                font-weight: 500;
            }
            .rating-range {
                .col {
                    height: 45px;
                }
            }
            .price-range {
                .col {
                    height: 45px;
                }
            }
            .radio-language {
                height: 45px;
                margin-top: unset !important;
                background-color: #ffffff;
                border-radius: 10px;
                padding: 10px;
            }
            .radio-filter {
                height: 170px;
                margin-top: unset !important;
                background-color: #ffffff;
                border-radius: 10px;
                padding: 10px;
            }
            .radio-print-type {
                height: 110px;
                margin-top: unset !important;
                background-color: #ffffff;
                border-radius: 10px;
                padding: 10px;
            }
        }
    }
    .search-bar {
        height: 40px;
    }
    .btn-search {
        height: 55px;
        .btn-search-icon {
            font-size: 30px !important;
        }
    }
    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        font-size: 20px;
        font-weight: 500;
    }
    .no-data {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        font-size: 20px;
        font-weight: 700;
    }
    .books-grid {
        .books-item {
            border: 1px solid #000000;
            border-radius: 5px;
            height: 300px;
            padding: 5px;
            position: relative;
            .books-img {
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
            .info-icon {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .favorite-icon {
                position: absolute;
                top: 50px;
                right: 10px;
                &.active {
                    color: #EC407A;
                }
            }
        }
        .books-detail {
            .books-name {
                font-weight: 600;
            }
            .books-authors, .books-print-type {
                font-size: 14px;
                font-weight: 300;
            }
            .books-rating {
                .star-rating {
                    padding-left: 7px;
                    padding-right: unset;
                }
                .text-rating {
                    padding-top: 13px;
                    padding-left: unset;
                }
            }
            .books-price {
                .list-price {
                    color: red;
                    font-size: 12px;
                    font-weight: 400;
                }
                .retail-price {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        .btn-buy {
            height: 30px;
        }
    }
}
</style>