<template>
  <v-app>
    <v-app-bar
      app
      dark
    >
      <div class="d-flex align-center">
        <v-icon class="logo-icon mr-4">mdi-book-open-variant</v-icon>
        <span class="title mt-1">Books App</span>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        @click="$router.push('/')"
        text
      >
        <v-icon class="mr-1">mdi-home</v-icon>
        <span class="mr-3 mt-1">Home</span>
      </v-btn>

      <v-btn
        @click="$router.push('/books')"
        text
      >
        <v-icon class="mr-2">mdi-book-open-variant</v-icon>
        <span class="mr-1 mt-1">Books</span>
      </v-btn>

      <v-btn
        @click="$router.push('/books-favorite')"
        text
      >
        <v-icon class="mt-1 mr-2 favorite-icon">mdi-playlist-star</v-icon>
        <span class="mr-2 mt-1">Favotite</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <transition name="slide" mode="out-in">
        <router-view/>
      </transition>
    </v-main>
  </v-app>
</template>

<script>

export default {
	name: 'App',

	data () {
		return {
			drawer: false,
			group: null,
		}
	}
}
</script>

<style lang="scss" scoped>
.logo-icon {
  font-size: 40px;
}
.title {
  font-size: 22px !important;
}
.favorite-icon {
  font-size: 32px !important;
}

.slide-enter-active {
  transition: all 0.5s ease-out;
}
.slide-leave-active {
  transition: all 0.2s ease-in;
}
.slide-enter, .slide-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
  
</style>
